body {
    background-color: deepskyblue;
    margin: 0px 0px 0px 0px;
}
header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px dimgray;
    box-shadow: 2px 2px 2px dimgrey;
    padding: 20px 10px 20px 10px;
}

.login-section, .gameplay-section, .chat-section {
    padding: 10px;
    text-align: center;
}

.gameplay-component {
    width: 25%;
    height: 300px;
    border: 2px solid dodgerblue;
}

#player1-section {
    float: left;
    /*display: inline-block;*/
    margin: 0px 15px 0px 0px;
}

#game-status {
    display: inline-block;
    margin: 0px 15px 0px 15px;
}

#player2-section {
    float: right;
    /*display: inline-block;*/
    margin: 0px 0px 0px 15px;
}

#player1-footer, #player2-footer {
    vertical-align: bottom;
}

.game-choice {
    vertical-align: middle;
}


#chat-display {
    display: inline-block;
    width: 40%;
    height: 200px;
    background-color: white;
    text-align: left;
    overflow: auto;
}

.chat-text {
    font-size: x-small;
    line-height: 1;
    vertical-align: bottom;
}

