body {
    background-color: deepskyblue;
}
header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.login-section, .gameplay-section, .chat-section {
    padding: 10px;
    text-align: center;
}

h1 {
    padding: 20px 10px 20px 10px;
}

